<!DOCTYPE html>
<html lang="en">
<head>
   {% load static %}
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
   <link  rel="stylesheet" href="{% static 'my_style.css' %}">
   <script src="{% static 'js/bootstrap.min.js' %}"></script>  
   <title>{% block title %}{% endblock %}</title>
</head>
   <body>
      <div class="container">
          <div class="d-flex bd-highlight mb-3 bg-white border-bottom shadow-sm">
            <div class=" me-auto p-2 bd-highlight" >
               <a class="btn btn-secondary btn-sm" href="/blog" role="button">Home</a>
            </div>
               {% if user.username %}
               <div class=" p-2 bd-highlight">
                  <p>{{user.username}}</p>
                  </div>
                  <div class=" p-2 bd-highlight">
                  <a class="btn btn-primary btn-sm" href="/blog/logout" role="button">Log out</a>
                  </div>
               {% else %}
               <div class=" p-2 bd-highlight">
                  <a class="btn btn-primary btn-sm" href="/blog/login" role="button">Log in</a>
                  </div>
                  <div class=" p-2 bd-highlight">
                  <a class="btn btn-secondary btn-sm" href="/blog/register" role="button">Sign up</a>
                              </div>
               {% endif %}

         </div>
         {% block content %}

         {% endblock content %}
      </div>
    </body>
</html>




